<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msvalidate.01" content="99159065F2EE7E40E66EC5A326023769" />
    <meta name="google-site-verification" content="kYcmjzq-TI-hxjlWzRE1goDJJ8GUrBd03awieiYpjBw" />
    <link rel="icon" href="images/favicon.jpg">
    <title>一夜終極狼人小幫手 網頁版</title>
    <meta name="description" content="一夜終極狼人小幫手，免主持人，免安裝，免下載，機器人幫你說台詞！">
    <meta name="og:description" content="一夜終極狼人小幫手，免主持人，免安裝，免下載，機器人幫你說台詞！" />
    <meta property="fb:app_id" content="1606433366287698" />
    <meta property="og:locale" content="zh_TW" />
    <meta property="og:title" content="一夜終極狼人小幫手 網頁版" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://z358z358.github.io/one-night-ultimate-werewolf-helper/" />
    <meta property="og:site_name" content="一夜終極狼人小幫手 網頁版" />
    <meta property="og:description" content="一夜終極狼人小幫手，免主持人，免安裝，免下載，機器人幫你說台詞！" />
    <meta property="og:image" content="https://z358z358.github.io/one-night-ultimate-werewolf-helper/images/1200x630.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <script src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" async></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    google.load("visualization", "1", {
        packages: ["corechart"]
    });
    </script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/my.css">
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">一夜終極狼人小幫手</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href=".">一夜終極狼人小幫手</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class=""><a href="javascript:void(0)" data-toggle="modal" data-target="#ins-modal">使用說明</a></li>
                        <li class=""><a href="javascript:void(0)" data-toggle="modal" data-target="#rule-modal">一夜終極狼人規則</a></li>
                        <li>
                            <div id="share"></div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="https://z358z358.github.io/avalon-helper/">阿瓦隆小幫手</a>
                        </li>
                        <li>
                            <a href="https://resume.onininon.com/" target="_blank" titile="關於作者"><i class="fa fa-id-card"></i></a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container">
            <!-- github another -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5518310153941700" data-ad-slot="7231649277" data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <div class="one-card text-center col-md-3 col-xs-4" v-for="(val,role) in checkList">
                <div class="flip-container click-card" :class="{hover: val == 0}" @click="clickCard(role)">
                    <div class="flipper">
                        <div class="front">
                            <img class="img-thumbnail" :src="'images/'+role+'.jpg'">
                        </div>
                        <div class="back">
                            <img id="bind-img" class="img-thumbnail" src="images/back.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <hr>
            <p id="sheep-text">
                請所有人閉上雙眼
                <span v-show="checkList.doppelganger == 1">，請化身幽靈張開眼睛，並看另一位玩家的牌，你現在就是那個角色，如果你看到預言家，強盜，搗蛋鬼，或是酒鬼，請現在執行角色動作，十，9，8，7，6，5，4，3，2，1，如果你現在是爪牙，請繼續張開眼睛，如果不是，請閉上眼睛，請狼人豎起你們的大拇指讓化身成爪牙的玩家可以知道你們在哪，5，4，3，2，1，請狼人收起大拇指請化身幽靈閉上眼睛</span>，請狼人張開眼睛確認彼此身份，如果場上只有一位狼人，你可以看中間的其中一張牌，5，4，3，2，1，請狼人閉上眼睛
                <span v-show="checkList.minion == 1">，請爪牙張開眼睛，請狼人豎起你們的大拇指請爪牙確認狼人在哪，5，4，3，2，1，請狼人收起大拇指請爪牙閉上眼睛</span>
                <span v-show="checkList.mason == 1">，請守夜人張開眼睛並確認另一位守夜人，5，4，3，2，1，請守夜人閉上眼睛</span>
                <span v-show="checkList.seer == 1">，請預言家張開眼睛，你可以看一位玩家的牌或看中間的兩張牌，5，4，3，2，1，請預言家閉上眼睛</span>
                <span v-show="checkList.robber == 1">，請強盜張開眼睛，你可以與另一位玩家交換牌，並看你目前的新牌，5，4，3，2，1，請強盜閉上眼睛</span>
                <span v-show="checkList.troublemaker == 1">，請搗蛋鬼張開眼睛，你可以交換其他兩位玩家的牌，5，4，3，2，1，請搗蛋鬼閉上眼睛</span>
                <span v-show="checkList.drunk == 1">，請酒鬼張開眼睛，你可以把自己的牌和中間的牌交換，5，4，3，2，1，請酒鬼閉上眼睛</span>
                <span v-show="checkList.insomniac == 1">，請失眠者張開眼睛，請確認自己的牌是什麼身份，5，4，3，2，1，請失眠者閉上眼睛</span>
                <span v-show="checkList.doppelganger == 1">，化身幽靈，如果你剛剛看到的牌是失眠者，請現在張開眼睛確認自己的牌是什麼身份，5，4，3，2，1，請化身幽靈閉上眼睛</span> ，請所有人保持閉者眼睛並伸出手碰到你的牌，請安靜的小幅度移動你的牌，請所有人張開眼睛遊戲開始。
            </p>
            <hr>
            <button id="play-voice" class="col-xs-6 btn btn-primary btn-lg" :class="{'btn-danger':status.playing}" v-text="(status.playing)?'停止播放':'播放語音'" @click="startVoice"></button>
            <div id="media" class="col-xs-3"></div>
            <div class="clearfix"></div>
            <hr>
            <form id="settings">
                <h5>選擇語者<small> (來源:<a href="http://tts.itri.org.tw/index.php" target="_blank">工研院</a>) </small></h5>
                <div class="form-group">
                    <label class="radio-inline">
                        <input type="radio" name="speaker" value="Bruce" v-model="settings.speaker">Bruce</label>
                    <label class="radio-inline">
                        <input type="radio" name="speaker" value="Angela" v-model="settings.speaker">Angela</label>
                    <label class="radio-inline">
                        <input type="radio" name="speaker" value="AKoan" v-model="settings.speaker">AKoan(台語白話)</label>
                </div>
                <div class="form-group">
                    <label>語音速度 (
                        <span v-text="settings.speed"></span> )</label>
                    <input class="bar" type="range" name="speed" min="0.5" max="2" value="1" step="0.1" v-model="settings.speed" />
                </div>
                <input v-for="(val,role) in checkList" :name="role" v-model="checkList[role]" type="hidden" :value="val">
            </form>
            <div>
                <div>
                    <hr />
                    <div class="fb-comments" data-href="https://z358z358.github.io/one-night-ultimate-werewolf-helper/" data-numposts="5"></div>
                </div>
            </div>
            <div class="voices hidden">
                <audio preload></audio>
            </div>
            <hr />
            <!-- github2 -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5518310153941700" data-ad-slot="5554403276" data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <div id="fb-root"></div>
        </div>
        <!-- /.container -->
        <!-- 規則 -->
        <div class="modal fade" id="rule-modal" tabindex="-1" role="dialog" aria-labelledby="rule-modalLabal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="users-modalLabel">規則</h4>
                    </div>
                    <div class="modal-body">
                        <div class="video-container">
                            <iframe src="https://www.youtube.com/embed/LTFs5RCKruo?rel=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <a target="_blank" href="http://arsl4000.pixnet.net/blog/post/102786610">部落格版本：[桌遊介紹]一夜終極狼人(One Night Ultimate Werewolf)(新增簡體開箱)</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 說明 -->
        <div class="modal fade" id="ins-modal" tabindex="-1" role="dialog" aria-labelledby="ins-modalLabal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="users-modalLabel">使用說明</h4>
                    </div>
                    <div class="modal-body">
                        <p>將沒使用的角色排覆蓋(點擊即可)，然後按“播放語音”按鈕</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" />
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-flat.css" />
    <script src="audiojs/audio.min.js?032401"></script>
    <script src="assets/vue.min.js"></script>
    <script src="assets/my.js?033101"></script>
    <script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.4&appId=482845198525908";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-MNGDS4" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
    (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(),
            event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-MNGDS4');
    </script>
    <!-- End Google Tag Manager -->
</body>

</html>
